.Form{
    box-shadow: 4px 4px 15px #777777;
    border-radius: 10px;
    padding: 25px;
}

.AddDestinationButton {
    align-items: center;
    background: #c4b6b6;
    box-shadow: 2px 2px 8px rgba(82, 71, 71, 1);
    border-radius: 100%;
    bottom: 4%;
    color: rgba(82, 71, 71, 1);
    display: flex;
    font-size: 22px;
    height: 75px;
    justify-content: center;
    position: fixed;
    right: 4%;
    width: 75px;
    transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
}

.AddDestinationButton:hover {
    background-color: rgba(82, 71, 71, 1);
    border: 1px solid #c4b6b6;
    color: #c4b6b6;
}
